<div >
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Posts</h1>
            <p class="lead">Here you can share your thought</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/posts" role="button">See the posts</a>
            </p>
        </div>
    </div>
</div>